---
layout: homebase
---

{% if page.image.feature %}
<div class="page-lead" style="background-image:url({{ site.url }}/images/{{ page.image.feature }})">
  <div class="wrap page-lead-content stage">
    <h1><abbr>{{ site.project-name }}</abbr></h1>
    <h2>A set of servers and tools meant to facilitate scaling of MySQL databases for the web.</h2>
    <span class="home-page-buttons"><a href="{{ site.url }}/overview/" class="btn-inverse">Start Using {{ site.project-name }}</a> &nbsp; or &nbsp; <a href="{{ site.repo }}" class="btn-inverse">View on GitHub</a></span>
  </div><!-- /.page-lead-content -->
</div><!-- /.page-lead -->
{% endif %}

<main class="clear clear-home">
  <div class="container">

    {{ content}}

  </div>
</main>

<section class="home-promo">
  <div class="container">
    <ul class="list-centered list--reset clear">
      <li class="g-medium--half g-medium--last g-wide--1 g-wide--last theme--spf">
        <a class="themed" href="{{ site.baseurl }}/overview/">
          <span class="icon-circle--large themed--background"><i class="icon icon-lessons"></i></span>
          <h3 class="large">Learn More</h3>
          <p></p>
        </a>
      </li>
      <li class="g-medium--half g-medium--last g-wide--1 g-wide--last theme--spf">
        <a class="themed" href="{{ site.baseurl }}/getting-started/">
          <span class="icon-circle--large themed--background"><i class="icon icon-performance"></i></span>
          <h3 class="large">Get started on Kubernetes</h3>
          <p></p>
        </a>
      </li>
      <li class="g-medium--half g-medium--last g-wide--1 g-wide--last theme--spf">
        <a class="themed" href="https://github.com/youtube/vitess/">
          <span class="icon-circle--large themed--background"><i class="icon icon-google-dev"></i></span>
          <h3 class="large">Get it on GitHub</h3>
          <p></p>
        </a>
      </li>
    </ul>
  </div>
</section>
