---
layout: default
bodyclass: posts
---

  <div class="row scroll-margin" id="toc-content-row">
    <div class="col-md-2" id="leftCol">
      <ul class="nav nav-stacked mobile-left-nav-menu" id="sidebar">
        {% include left-nav-menu.html %}
      </ul>
    </div>
    <div class="col-md-3" id="rightCol">
      <div class="nav nav-stacked" id="tocSidebar">
        <div id="toc"></div>
      </div>
    </div>
    <div class="col-md-7" id="centerCol">
      <div id="centerTextCol">
{% for post in site.posts %}

  {% if site.excerpt_separator %}

      {% if forloop.first == true %}
<h3 style="margin-top: 0;">{{ post.title }}</h3>
      {% else %}
<h3>{{ post.title }}</h3>
      {% endif %}

<p><b>{{ post.date | date_to_string }}{% if post.attribution %}, {{ post.attribution }}{% endif %}</b></p>

<p>{{ post.excerpt | remove: '<p>' | remove: '</p>' }} <a href="{{ post.url | prepend: site.baseurl }}">[read more]</a></p>

{% unless forloop.last %}<hr>{% endunless %}

  {% else %}

<h3>{{ post.title }}</h3>

<div class="postdate">
<p><b>{{ post.date | date_to_string }}{% if post.attribution %}, {{ post.attribution }}{% endif %}</b></p>
</div>

{{ post.content }}

{% unless forloop.last %}<hr>{% endunless %}

  {% endif  %}

{% endfor %}

      </div>
    </div>
  </div>
